In [12]:
import pandas as pd
import numpy as np

In [13]:
# df = pd.read_csv('2022_day2_sample.csv', header=None, names=['opponent', 'you'], delimiter=' ')
df = pd.read_csv('2022_day2.csv', header=None, names=['opponent', 'you'], delimiter=' ')
df.head()

  opponent you
0        B   Y
1        A   X
2        B   Y
3        A   Y
4        A   Z

In [14]:
df['opp_act'] = df['opponent'].map({'A':'Rock', 'B':'Paper', 'C':'Scissors'})
df['outcome'] = df['you'].map({'X':'Lose', 'Y':'Draw', 'Z':'Win'})
df.head()

  opponent you opp_act outcome
0        B   Y   Paper    Draw
1        A   X    Rock    Lose
2        B   Y   Paper    Draw
3        A   Y    Rock    Draw
4        A   Z    Rock     Win

In [15]:
win = {'Rock':'Paper', 'Paper':'Scissors', 'Scissors':'Rock'}
lose = {'Rock':'Scissors', 'Paper':'Rock', 'Scissors':'Paper'}
condlist = [
    df['outcome'] == 'Draw',
    df['outcome'] == 'Win',
    df['outcome'] == 'Lose',
]
choicelist = [
    df['opp_act'],
    df['opp_act'].map(win),
    df['opp_act'].map(lose),
]
df['you_act'] = np.select(condlist, choicelist)
df.head()

  opponent you opp_act outcome   you_act
0        B   Y   Paper    Draw     Paper
1        A   X    Rock    Lose  Scissors
2        B   Y   Paper    Draw     Paper
3        A   Y    Rock    Draw      Rock
4        A   Z    Rock     Win     Paper

In [16]:
df['you_score'] = df['you_act'].map({'Rock':1, 'Paper':2, 'Scissors':3})
condlist = [
    df['opp_act'] == df['you_act'], 
    (df['opp_act'] == 'Rock') & (df['you_act'] == 'Paper'), 
    (df['opp_act'] == 'Paper') & (df['you_act'] == 'Scissors'), 
    (df['opp_act'] == 'Scissors') & (df['you_act'] == 'Rock')
    ]
choicelist = [3, 6, 6, 6]
df['out_score'] = np.select(condlist, choicelist, 0)
df['score'] = df['you_score'] + df['out_score']
df.head()

  opponent you opp_act outcome   you_act  you_score  out_score  score
0        B   Y   Paper    Draw     Paper          2          3      5
1        A   X    Rock    Lose  Scissors          3          0      3
2        B   Y   Paper    Draw     Paper          2          3      5
3        A   Y    Rock    Draw      Rock          1          3      4
4        A   Z    Rock     Win     Paper          2          6      8

In [17]:
print(df['score'].sum())

11980