In [10]:
import pandas as pd
import numpy as np

In [11]:
# df = pd.read_csv('2022_day2_sample.csv', header=None, names=['opponent', 'you'], delimiter=' ')
df = pd.read_csv('2022_day2.csv', header=None, names=['opponent', 'you'], delimiter=' ')
df.head()

  opponent you
0        B   Y
1        A   X
2        B   Y
3        A   Y
4        A   Z

In [12]:
df['opp_act'] = df['opponent'].map({'A':'Rock', 'B':'Paper', 'C':'Scissors'})
df['you_act'] = df['you'].map({'X':'Rock', 'Y':'Paper', 'Z':'Scissors'})
df.head()

  opponent you opp_act   you_act
0        B   Y   Paper     Paper
1        A   X    Rock      Rock
2        B   Y   Paper     Paper
3        A   Y    Rock     Paper
4        A   Z    Rock  Scissors

In [13]:
df['you_score'] = df['you_act'].map({'Rock':1, 'Paper':2, 'Scissors':3})
condlist = [
    df['opp_act'] == df['you_act'], 
    (df['opp_act'] == 'Rock') & (df['you_act'] == 'Paper'), 
    (df['opp_act'] == 'Paper') & (df['you_act'] == 'Scissors'), 
    (df['opp_act'] == 'Scissors') & (df['you_act'] == 'Rock')
    ]
choicelist = [3, 6, 6, 6]
df['out_score'] = np.select(condlist, choicelist, 0)
df['score'] = df['you_score'] + df['out_score']
df.head()

  opponent you opp_act   you_act  you_score  out_score  score
0        B   Y   Paper     Paper          2          3      5
1        A   X    Rock      Rock          1          3      4
2        B   Y   Paper     Paper          2          3      5
3        A   Y    Rock     Paper          2          6      8
4        A   Z    Rock  Scissors          3          0      3

In [14]:
print(df['score'].sum())

12740