In [1]:
import pandas as pd

In [17]:
df = pd.read_csv('2020_day8.csv', header=None, names=['rule', 'val'], delimiter='\s+')
df.head(15)

   rule  val
0   acc   28
1   jmp  481
2   nop   87
3   acc  -10
4   acc   21
5   jmp  548
6   jmp  250
7   acc   -9
8   acc   19
9   acc   -3
10  nop   85
11  jmp   84
12  acc   43
13  acc   34
14  acc   -5

In [18]:
used_rows = []
current_row = 0
acc = 0
while current_row not in used_rows:
    used_rows.append(current_row)
    ins = df.iloc[current_row]
    if ins['rule'] == 'nop':
        current_row += 1
    if ins['rule'] == 'acc':
        acc += ins['val']
        current_row += 1
    if ins['rule'] == 'jmp':
        current_row += ins['val']
print(acc)

1814