In [44]:
import pandas as pd
import numpy as np

In [45]:
df = pd.read_csv('2021_day12.csv', delimiter='-', header=None, names=['from', 'to'])
df.head()

    from     to
0     dr     of
1  start     KT
2     yj     sk
3  start     gb
4     of  start

In [46]:
d = df.loc[(df['from'] != 'start') & (df['to'] != 'end')].copy()
d[['from', 'to']] = d[['to', 'from']]
df = pd.concat([df, d])
df.head()

    from     to
0     dr     of
1  start     KT
2     yj     sk
3  start     gb
4     of  start

In [47]:
g = df.groupby('from')
d = dict(zip([x[0] for x in g['from']], [x for x in g['to'].apply(lambda x: list(x))]))
d

{'IJ': ['end', 'of', 'dr', 'yj'],
 'KT': ['end', 'yj', 'of', 'gb'],
 'PZ': ['dr'],
 'VT': ['sk', 'km', 'of', 'gb', 'dr'],
 'dr': ['of', 'IJ', 'yj', 'sk', 'VT', 'PZ'],
 'end': ['sk'],
 'gb': ['VT', 'KT', 'of'],
 'km': ['VT'],
 'of': ['start', 'gb', 'dr', 'IJ', 'VT', 'KT'],
 'sk': ['yj', 'VT', 'end', 'dr'],
 'start': ['KT', 'gb', 'of'],
 'yj': ['sk', 'IJ', 'KT', 'dr']}

In [49]:
paths =[['start']]
completed = []
while len(paths) > 0:
    p = paths.pop()
    for n in d[p[-1]]:
        if n.islower() and n in p:
            continue
        pn = p + [n]
        if pn[-1] == 'end':
            completed.append(pn)
        else:
            paths.append(pn)
# print(completed)
print(len(completed))

4691