In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('2019_day1.csv', header=None, names=['mass'])
print(data)

      mass
0   128270
1   147113
2    61335
3    78766
4   119452
..     ...
95   52154
96   80633
97   61867
98   86380
99  136024

[100 rows x 1 columns]

In [4]:
data['fuel'] = data['mass'].apply(lambda x: int(x / 3.0) - 2)
data.head()

     mass   fuel
0  128270  42754
1  147113  49035
2   61335  20443
3   78766  26253
4  119452  39815

In [5]:
print(data['fuel'].sum())

3232358