In [6]:
import pandas as pd

In [7]:
data = pd.read_csv('2019_day1.csv', header=None, names=['mass'])
print(data)

      mass
0   128270
1   147113
2    61335
3    78766
4   119452
..     ...
95   52154
96   80633
97   61867
98   86380
99  136024

[100 rows x 1 columns]

In [8]:
i = 0
data[f'fuel{i}'] = data['mass'].apply(lambda x: int(x / 3.0) - 2)
while data[f'fuel{i}'].sum() > 0:
    i += 1
    data[f'fuel{i}'] = data[f'fuel{i - 1}'].apply(lambda x: max(int(x / 3.0) - 2, 0))

data.head()

,mass,fuel0,fuel1,fuel2,fuel3,fuel4,fuel5,fuel6,fuel7,fuel8,fuel9
0,128270,42754,14249,4747,1580,524,172,55,16,3,0
1,147113,49035,16343,5445,1813,602,198,64,19,4,0
2,61335,20443,6812,2268,754,249,81,25,6,0,0
3,78766,26253,8749,2914,969,321,105,33,9,1,0
4,119452,39815,13269,4421,1471,488,160,51,15,3,0

In [9]:
fuel = data[[f'fuel{x}' for x in range(i)]]
print(fuel.to_numpy().sum())

4845669