In [1]:
import pandas as pd
import numpy as np

In [50]:
df = pd.read_csv('2021_day9.csv', header=None, names=['raw'])
df = df['raw'].astype(str).str.split('', expand=True)
df[0] = 10
df[len(df.columns)-1] = 10
df = df.astype(int)
wall = pd.DataFrame([[10 for x in range(len(df.columns))]])
df = pd.concat([wall, df, wall])
df.head()

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,101
0,10,10,10,10,10,10,10,10,10,10,...,10,10,10,10,10,10,10,10,10,10
0,10,7,8,5,7,6,7,9,8,7,...,4,3,4,9,5,4,3,4,5,10
1,10,6,7,4,6,5,6,7,9,8,...,9,4,9,8,9,3,2,3,3,10
2,10,5,4,3,4,4,5,8,9,9,...,9,9,8,7,8,9,1,0,2,10
3,10,4,5,2,3,3,4,7,9,9,...,9,8,7,6,7,8,9,1,3,10

In [51]:
n = df.to_numpy()
n

array([[10, 10, 10, ..., 10, 10, 10],
       [10,  7,  8, ...,  4,  5, 10],
       [10,  6,  7, ...,  3,  3, 10],
       ...,
       [10,  5,  6, ...,  9,  8, 10],
       [10,  6,  7, ...,  6,  9, 10],
       [10, 10, 10, ..., 10, 10, 10]], dtype=int64)

In [52]:
n[1:len(n)-1,1:len(n[0])-1]

array([[7, 8, 5, ..., 3, 4, 5],
       [6, 7, 4, ..., 2, 3, 3],
       [5, 4, 3, ..., 1, 0, 2],
       ...,
       [4, 5, 7, ..., 5, 6, 7],
       [5, 6, 8, ..., 3, 9, 8],
       [6, 7, 8, ..., 5, 6, 9]], dtype=int64)

In [53]:
low_points = []
for i in range(2,len(n)):
    for j in range(2,len(n[0])):
        v = n[i-1:i,j-1:j].sum()
        u = n[i-2:i-1,j-1:j].sum()
        d = n[i:i+1,j-1:j].sum()
        l = n[i-1:i,j-2:j-1].sum()
        r = n[i-1:i,j:j+1].sum()
        if v < u and v < d and v < l and v < r:
            low_points.append(v)
print((np.array(low_points) + 1).sum())

535