In [32]:
import pandas as pd
import math

In [33]:
with open('2023_day4.csv', 'r') as f:
    s = f.readlines()
    df = pd.DataFrame(s)
df.head()

                                                   0
0  Card   1: 66 90 67 76 55 13 91 31 95  4 | 82 9...
1  Card   2: 94 57 54 45  9 78 71 35 48 44 |  9 5...
2  Card   3: 44 10 67 65 62 43 47 13 26 95 | 67 5...
3  Card   4: 47 48 14 30 64 31 81 22 65 60 | 85 2...
4  Card   5: 43 66 44 76 67 27 52 26 83 39 | 37 8...

In [34]:
a = df[0].str.split(':', expand=True).rename(columns={0:'id'})
a = pd.concat([a['id'], a[1].str.split('|', expand=True)], axis=1)
a[0] = a[0].str.strip().str.replace('  ',' ').str.split(' ')
a[1] = a[1].str.strip().str.replace('  ',' ').str.replace('\n','').str.split(' ')
a.head()

,id,0,1
0,Card 1,"[66, 90, 67, 76, 55, 13, 91, 31, 95, 4]","[82, 98, 69, 8, 15, 2, 32, 24, 99, 56, 46, 65,..."
1,Card 2,"[94, 57, 54, 45, 9, 78, 71, 35, 48, 44]","[9, 56, 28, 57, 55, 95, 32, 48, 76, 47, 94, 35..."
2,Card 3,"[44, 10, 67, 65, 62, 43, 47, 13, 26, 95]","[67, 55, 65, 68, 26, 77, 41, 43, 94, 13, 62, 2..."
3,Card 4,"[47, 48, 14, 30, 64, 31, 81, 22, 65, 60]","[85, 23, 47, 19, 60, 31, 32, 68, 64, 33, 14, 2..."
4,Card 5,"[43, 66, 44, 76, 67, 27, 52, 26, 83, 39]","[37, 83, 99, 29, 48, 60, 62, 2, 31, 27, 4, 65,..."

In [35]:
def match(d):
    matches = 0
    for x in d[1]:
        if x in d[0]:
            matches += 1
    if matches == 0:
        return 0
    else:
        return math.pow(2, matches - 1)

In [37]:
a['res'] = a.apply(match, axis=1)
print(int(a['res'].sum()))
a.head()

27845

,id,0,1,res
0,Card 1,"[66, 90, 67, 76, 55, 13, 91, 31, 95, 4]","[82, 98, 69, 8, 15, 2, 32, 24, 99, 56, 46, 65,...",0.0
1,Card 2,"[94, 57, 54, 45, 9, 78, 71, 35, 48, 44]","[9, 56, 28, 57, 55, 95, 32, 48, 76, 47, 94, 35...",512.0
2,Card 3,"[44, 10, 67, 65, 62, 43, 47, 13, 26, 95]","[67, 55, 65, 68, 26, 77, 41, 43, 94, 13, 62, 2...",512.0
3,Card 4,"[47, 48, 14, 30, 64, 31, 81, 22, 65, 60]","[85, 23, 47, 19, 60, 31, 32, 68, 64, 33, 14, 2...",512.0
4,Card 5,"[43, 66, 44, 76, 67, 27, 52, 26, 83, 39]","[37, 83, 99, 29, 48, 60, 62, 2, 31, 27, 4, 65,...",8.0