In [21]:
import pandas as pd
import numpy as np

In [57]:
# with open('2022_day10_sample.csv') as f:
with open('2022_day10.csv') as f:
    act = f.readlines()
# act = [
#     'noop',
#     'addx 3',
#     'addx -5'
# ]
# print(act)

In [58]:
cycle, reg = 1, 1
res = {}
for a in act:
    al = a.split(' ')
    dir = al[0].replace('\n', '')
    if dir == 'noop':
        res[cycle] = reg
        cycle += 1
    if dir == 'addx':
        val = int(al[1].replace('\n', ''))
        res[cycle] = reg
        cycle += 1
        res[cycle] = reg
        cycle += 1
        reg += val
# print(res)

In [59]:
df = pd.DataFrame({'cycle': res.keys(), 'register': res.values()})

In [44]:
# df[df['cycle'] <= 40].head(40)

In [60]:
df['signal_str'] = np.where(df['cycle'].isin([20,60,100,140,180,220]), df['cycle'] * df['register'], 0)
df.head()

   cycle  register  signal_str
0      1         1           0
1      2         1           0
2      3         1           0
3      4         1           0
4      5         6           0

In [61]:
df[df['cycle'].isin([20,60,100,140,180,220])].head(15)

     cycle  register  signal_str
19      20        21         420
59      60        21        1260
99     100        21        2100
139    140        21        2940
179    180        14        2520
219    220        17        3740

In [62]:
print(df['signal_str'].sum())

12980