In [50]:
from collections import Counter
import pandas as pd

In [51]:
data = pd.read_csv('2020_day2.csv', header=None, names=['base'])
print(data)

                              base
0                4-5 t: ftttttrvts
1                  7-8 k: kkkkkkkf
2                    4-6 k: gqjkkk
3                      1-2 t: rttb
4               7-10 z: gzjtmtcrzv
..                             ...
995              2-3 h: phhvhkhxhh
996  16-18 z: jxsfzzjzqhzzlzzczhvz
997                 5-7 w: wwgwwww
998                    3-4 q: qqqq
999               6-7 g: gghggcggg

[1000 rows x 1 columns]

In [52]:
data['min'] = data['base'].apply(lambda x: int(x.split('-')[0]))
data['max'] = data['base'].apply(lambda x: int(x.split('-')[1].split(' ')[0]))
data['letter'] = data['base'].apply(lambda x: x.split(' ')[1][0])
data['password'] = data['base'].apply(lambda x: x.split(':')[1].strip())

In [53]:
data.head()

                 base  min  max letter    password
0   4-5 t: ftttttrvts    4    5      t  ftttttrvts
1     7-8 k: kkkkkkkf    7    8      k    kkkkkkkf
2       4-6 k: gqjkkk    4    6      k      gqjkkk
3         1-2 t: rttb    1    2      t        rttb
4  7-10 z: gzjtmtcrzv    7   10      z  gzjtmtcrzv

In [54]:
def is_valid(x):
    counter = Counter(x.password)
    if x.letter not in counter and x['min'] > 0:
        return 0
    cnt = counter[x.letter]
    if cnt >= x['min'] and cnt <= x['max']:
        return 1
    return 0

In [55]:
data['valid'] = data.apply(is_valid, axis=1)

In [56]:
data.head()

                 base  min  max letter    password  valid
0   4-5 t: ftttttrvts    4    5      t  ftttttrvts      0
1     7-8 k: kkkkkkkf    7    8      k    kkkkkkkf      1
2       4-6 k: gqjkkk    4    6      k      gqjkkk      0
3         1-2 t: rttb    1    2      t        rttb      1
4  7-10 z: gzjtmtcrzv    7   10      z  gzjtmtcrzv      0

In [57]:
print(data.valid.sum())

560