In [13]:
from collections import Counter
import pandas as pd

In [14]:
data = pd.read_csv('2020_day2.csv', header=None, names=['base'])
print(data)

                              base
0                4-5 t: ftttttrvts
1                  7-8 k: kkkkkkkf
2                    4-6 k: gqjkkk
3                      1-2 t: rttb
4               7-10 z: gzjtmtcrzv
..                             ...
995              2-3 h: phhvhkhxhh
996  16-18 z: jxsfzzjzqhzzlzzczhvz
997                 5-7 w: wwgwwww
998                    3-4 q: qqqq
999               6-7 g: gghggcggg

[1000 rows x 1 columns]

In [15]:
data['first'] = data['base'].apply(lambda x: int(x.split('-')[0]))
data['last'] = data['base'].apply(lambda x: int(x.split('-')[1].split(' ')[0]))
data['letter'] = data['base'].apply(lambda x: x.split(' ')[1][0])
data['password'] = data['base'].apply(lambda x: x.split(':')[1].strip())

In [16]:
data.head()

                 base  first  last letter    password
0   4-5 t: ftttttrvts      4     5      t  ftttttrvts
1     7-8 k: kkkkkkkf      7     8      k    kkkkkkkf
2       4-6 k: gqjkkk      4     6      k      gqjkkk
3         1-2 t: rttb      1     2      t        rttb
4  7-10 z: gzjtmtcrzv      7    10      z  gzjtmtcrzv

In [17]:
def is_valid(x):
    pos = [0, 0]
    if x.letter == x.password[x['first'] - 1]:
        pos[0] = 1
    if x.letter == x.password[x['last'] - 1]:
        pos[1] = 1
    if sum(pos) == 1:
        return 1
    else:
        return 0

In [18]:
data['valid'] = data.apply(is_valid, axis=1)

In [19]:
data.head()

                 base  first  last letter    password  valid
0   4-5 t: ftttttrvts      4     5      t  ftttttrvts      0
1     7-8 k: kkkkkkkf      7     8      k    kkkkkkkf      1
2       4-6 k: gqjkkk      4     6      k      gqjkkk      0
3         1-2 t: rttb      1     2      t        rttb      1
4  7-10 z: gzjtmtcrzv      7    10      z  gzjtmtcrzv      0

In [20]:
print(data.valid.sum())

303