In [14]:
import pandas as pd
import numpy as np
from collections import Counter

In [15]:
df = pd.read_csv('2015_day5.csv', header=None, names=['s'])
df.head()

                  s
0  rthkunfaakmwmush
1  qxlnvjguikqcyfzt
2  sleaoasjspnjctqt
3  lactpmehuhmzwfjl
4  bvggvrdgjcspkkyj

In [16]:
def test1_valid(s):
    l = [s[i:i+2] for i in range(len(s) - 1)]
    c = Counter(l)
    p = [x for x in c if c[x] > 1]
    if len(p) == 0:
        return 0
    for v in p:
        g = [i for i, e in enumerate(l) if e == v]
        for x in range(len(g) - 1):
            if abs(g[x] - g[x+1]) == 1:
                return 0
    return 1

In [17]:
def test2_valid(s):
    for c in s:
        g = [i for i, e in enumerate(s) if e == c]
        for x in range(len(g) - 1):
            if abs(g[x] - g[x+1]) == 2:
                return 1
    return 0

In [18]:
df['test1_v'] = df['s'].apply(test1_valid)
df['test2_v'] = df['s'].apply(test2_valid)
df.head()

                  s  test1_v  test2_v
0  rthkunfaakmwmush        0        1
1  qxlnvjguikqcyfzt        0        0
2  sleaoasjspnjctqt        0        1
3  lactpmehuhmzwfjl        0        1
4  bvggvrdgjcspkkyj        0        0

In [19]:
df['valid'] = df[['test1_v', 'test2_v']].sum(axis=1)
df.head()

                  s  test1_v  test2_v  valid
0  rthkunfaakmwmush        0        1      1
1  qxlnvjguikqcyfzt        0        0      0
2  sleaoasjspnjctqt        0        1      1
3  lactpmehuhmzwfjl        0        1      1
4  bvggvrdgjcspkkyj        0        0      0

In [20]:
print(np.where(df['valid'] == 2, 1, 0).sum())

53