In [34]:
import pandas as pd
import numpy as np
from collections import Counter

In [35]:
df = pd.read_csv('2015_day5.csv', header=None, names=['s'])
df.head()

                  s
0  rthkunfaakmwmush
1  qxlnvjguikqcyfzt
2  sleaoasjspnjctqt
3  lactpmehuhmzwfjl
4  bvggvrdgjcspkkyj

In [36]:
def test1_valid(s):
    vcount = 0
    c = Counter(s)
    for v in 'aeiou':
        if v in s:
            vcount += c[v]
    if vcount >= 3:
        return 1
    else:
        return 0

In [37]:
def test2_valid(s):
    for i in range(len(s) - 1):
        if s[i] == s[i + 1]:
            return 1
    return 0

In [38]:
def test3_valid(s):
    for t in ['ab', 'cd', 'pq', 'xy']:
        if t in s:
            return 0
    return 1

In [39]:
df['test1_v'] = df['s'].apply(test1_valid)
df['test2_v'] = df['s'].apply(test2_valid)
df['test3_v'] = df['s'].apply(test3_valid)
df.head()

                  s  test1_v  test2_v  test3_v
0  rthkunfaakmwmush        1        1        1
1  qxlnvjguikqcyfzt        0        0        1
2  sleaoasjspnjctqt        1        0        1
3  lactpmehuhmzwfjl        1        0        1
4  bvggvrdgjcspkkyj        0        1        1

In [40]:
df['valid'] = df[['test1_v', 'test2_v', 'test3_v']].sum(axis=1)
df.head()

                  s  test1_v  test2_v  test3_v  valid
0  rthkunfaakmwmush        1        1        1      3
1  qxlnvjguikqcyfzt        0        0        1      1
2  sleaoasjspnjctqt        1        0        1      2
3  lactpmehuhmzwfjl        1        0        1      2
4  bvggvrdgjcspkkyj        0        1        1      2

In [41]:
print(np.where(df['valid'] == 3, 1, 0).sum())

258