In [28]:
import pandas as pd
import numpy as np
import string

In [29]:
# df = pd.read_csv('2022_day3_sample.csv', header=None, names=['list'])
df = pd.read_csv('2022_day3.csv', header=None, names=['list'])
df.head()

                                             list
0  hqBqJsqHhHvhHHqlBvlfpHQQwLVzVwtVzjzttjQVSjMjwL
1                        gRTRnCRsFNGbTzLjwcSTMmSz
2                          dGgsRWPGdWgZJqBBqhfpPq
3                  HNCNJHCWJRRLqNJWlfrrrwsmlwGmmf
4                      dddvLdLjdDvjvswlmGwlZQtjrt

In [30]:
df['len'] = df['list'].str.len() / 2
df['len'] = df['len'].astype(int)
df['left'] = df.apply(lambda x: x['list'][:x['len']], 1)
df['right'] = df.apply(lambda x: x['list'][x['len']:], 1)
df.head()

,list,len,left,right
0,hqBqJsqHhHvhHHqlBvlfpHQQwLVzVwtVzjzttjQVSjMjwL,23,hqBqJsqHhHvhHHqlBvlfpHQ,QwLVzVwtVzjzttjQVSjMjwL
1,gRTRnCRsFNGbTzLjwcSTMmSz,12,gRTRnCRsFNGb,TzLjwcSTMmSz
2,dGgsRWPGdWgZJqBBqhfpPq,11,dGgsRWPGdWg,ZJqBBqhfpPq
3,HNCNJHCWJRRLqNJWlfrrrwsmlwGmmf,15,HNCNJHCWJRRLqNJ,WlfrrrwsmlwGmmf
4,dddvLdLjdDvjvswlmGwlZQtjrt,13,dddvLdLjdDvjv,swlmGwlZQtjrt

In [31]:
df['both'] = df.apply(lambda x: list(set(x['left']) & set(x['right']))[0], 1)
df.head()

,list,len,left,right,both
0,hqBqJsqHhHvhHHqlBvlfpHQQwLVzVwtVzjzttjQVSjMjwL,23,hqBqJsqHhHvhHHqlBvlfpHQ,QwLVzVwtVzjzttjQVSjMjwL,Q
1,gRTRnCRsFNGbTzLjwcSTMmSz,12,gRTRnCRsFNGb,TzLjwcSTMmSz,T
2,dGgsRWPGdWgZJqBBqhfpPq,11,dGgsRWPGdWg,ZJqBBqhfpPq,P
3,HNCNJHCWJRRLqNJWlfrrrwsmlwGmmf,15,HNCNJHCWJRRLqNJ,WlfrrrwsmlwGmmf,W
4,dddvLdLjdDvjvswlmGwlZQtjrt,13,dddvLdLjdDvjv,swlmGwlZQtjrt,j

In [32]:
alpha = string.ascii_lowercase + string.ascii_uppercase
scores = dict(zip(alpha, range(1, 53)))
print(scores)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9, 'j': 10, 'k': 11, 'l': 12, 'm': 13, 'n': 14, 'o': 15, 'p': 16, 'q': 17, 'r': 18, 's': 19, 't': 20, 'u': 21, 'v': 22, 'w': 23, 'x': 24, 'y': 25, 'z': 26, 'A': 27, 'B': 28, 'C': 29, 'D': 30, 'E': 31, 'F': 32, 'G': 33, 'H': 34, 'I': 35, 'J': 36, 'K': 37, 'L': 38, 'M': 39, 'N': 40, 'O': 41, 'P': 42, 'Q': 43, 'R': 44, 'S': 45, 'T': 46, 'U': 47, 'V': 48, 'W': 49, 'X': 50, 'Y': 51, 'Z': 52}

In [33]:
df['score'] = df['both'].map(scores)
df.head()

,list,len,left,right,both,score
0,hqBqJsqHhHvhHHqlBvlfpHQQwLVzVwtVzjzttjQVSjMjwL,23,hqBqJsqHhHvhHHqlBvlfpHQ,QwLVzVwtVzjzttjQVSjMjwL,Q,43
1,gRTRnCRsFNGbTzLjwcSTMmSz,12,gRTRnCRsFNGb,TzLjwcSTMmSz,T,46
2,dGgsRWPGdWgZJqBBqhfpPq,11,dGgsRWPGdWg,ZJqBBqhfpPq,P,42
3,HNCNJHCWJRRLqNJWlfrrrwsmlwGmmf,15,HNCNJHCWJRRLqNJ,WlfrrrwsmlwGmmf,W,49
4,dddvLdLjdDvjvswlmGwlZQtjrt,13,dddvLdLjdDvjv,swlmGwlZQtjrt,j,10

In [34]:
print(sum(df['score']))

7674