In [17]:
import pandas as pd
import numpy as np
import string

In [18]:
# df = pd.read_csv('2022_day3_sample.csv', header=None, names=['list'])
df = pd.read_csv('2022_day3.csv', header=None, names=['list'])
df.head()

                                             list
0  hqBqJsqHhHvhHHqlBvlfpHQQwLVzVwtVzjzttjQVSjMjwL
1                        gRTRnCRsFNGbTzLjwcSTMmSz
2                          dGgsRWPGdWgZJqBBqhfpPq
3                  HNCNJHCWJRRLqNJWlfrrrwsmlwGmmf
4                      dddvLdLjdDvjvswlmGwlZQtjrt

In [19]:
grp_cnt = int(len(df) / 3)
df['group'] = np.repeat(range(1, grp_cnt + 1), 3)
df.head()

                                             list  group
0  hqBqJsqHhHvhHHqlBvlfpHQQwLVzVwtVzjzttjQVSjMjwL      1
1                        gRTRnCRsFNGbTzLjwcSTMmSz      1
2                          dGgsRWPGdWgZJqBBqhfpPq      1
3                  HNCNJHCWJRRLqNJWlfrrrwsmlwGmmf      2
4                      dddvLdLjdDvjvswlmGwlZQtjrt      2

In [20]:
g = df.groupby('group')['list'].apply(list)
g = pd.DataFrame(g.to_list(), columns=[1,2,3])
g.head()

,1,2,3
0,hqBqJsqHhHvhHHqlBvlfpHQQwLVzVwtVzjzttjQVSjMjwL,gRTRnCRsFNGbTzLjwcSTMmSz,dGgsRWPGdWgZJqBBqhfpPq
1,HNCNJHCWJRRLqNJWlfrrrwsmlwGmmf,dddvLdLjdDvjvswlmGwlZQtjrt,dvcpbLVcvNJJHNPHSp
2,QDprSpLQRLQrQDmQcQFZjbbhZwdRsRFbbBss,gWGGPgNvJlgJzDlNGHCGPNZZgFBbsjbFFBwZwfhdZbZB,lHTlGMHlGCPNvClzGzJHvGcrMcVtLqMLcrrQVcVDrqrm
3,SrBpJFfldlFNslFJBZwsmwgVGGsCCVmZZD,jLtjvzLQMtWjbbQvDZZwGRJGgwggGZgv,MzqqjznQPqnnjznnctnFlSddPfHflhfBJFNdHd
4,mPNNGVCRngnSbgNw,WqsqlTssgvqvZWZzhsTzWhScdHtfJJnfbtSJwfczdtSS,sqTvhpqQvWZQLmDpDGMDGrgL

In [21]:
g['both'] = g.apply(lambda x: list(set(x[1]) & set(x[2]) & set(x[3]))[0], 1)
g.head()

,1,2,3,both
0,hqBqJsqHhHvhHHqlBvlfpHQQwLVzVwtVzjzttjQVSjMjwL,gRTRnCRsFNGbTzLjwcSTMmSz,dGgsRWPGdWgZJqBBqhfpPq,s
1,HNCNJHCWJRRLqNJWlfrrrwsmlwGmmf,dddvLdLjdDvjvswlmGwlZQtjrt,dvcpbLVcvNJJHNPHSp,L
2,QDprSpLQRLQrQDmQcQFZjbbhZwdRsRFbbBss,gWGGPgNvJlgJzDlNGHCGPNZZgFBbsjbFFBwZwfhdZbZB,lHTlGMHlGCPNvClzGzJHvGcrMcVtLqMLcrrQVcVDrqrm,D
3,SrBpJFfldlFNslFJBZwsmwgVGGsCCVmZZD,jLtjvzLQMtWjbbQvDZZwGRJGgwggGZgv,MzqqjznQPqnnjznnctnFlSddPfHflhfBJFNdHd,J
4,mPNNGVCRngnSbgNw,WqsqlTssgvqvZWZzhsTzWhScdHtfJJnfbtSJwfczdtSS,sqTvhpqQvWZQLmDpDGMDGrgL,g

In [22]:
alpha = string.ascii_lowercase + string.ascii_uppercase
scores = dict(zip(alpha, range(1, 53)))
print(scores)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9, 'j': 10, 'k': 11, 'l': 12, 'm': 13, 'n': 14, 'o': 15, 'p': 16, 'q': 17, 'r': 18, 's': 19, 't': 20, 'u': 21, 'v': 22, 'w': 23, 'x': 24, 'y': 25, 'z': 26, 'A': 27, 'B': 28, 'C': 29, 'D': 30, 'E': 31, 'F': 32, 'G': 33, 'H': 34, 'I': 35, 'J': 36, 'K': 37, 'L': 38, 'M': 39, 'N': 40, 'O': 41, 'P': 42, 'Q': 43, 'R': 44, 'S': 45, 'T': 46, 'U': 47, 'V': 48, 'W': 49, 'X': 50, 'Y': 51, 'Z': 52}

In [23]:
g['score'] = g['both'].map(scores)
g.head()

,1,2,3,both,score
0,hqBqJsqHhHvhHHqlBvlfpHQQwLVzVwtVzjzttjQVSjMjwL,gRTRnCRsFNGbTzLjwcSTMmSz,dGgsRWPGdWgZJqBBqhfpPq,s,19
1,HNCNJHCWJRRLqNJWlfrrrwsmlwGmmf,dddvLdLjdDvjvswlmGwlZQtjrt,dvcpbLVcvNJJHNPHSp,L,38
2,QDprSpLQRLQrQDmQcQFZjbbhZwdRsRFbbBss,gWGGPgNvJlgJzDlNGHCGPNZZgFBbsjbFFBwZwfhdZbZB,lHTlGMHlGCPNvClzGzJHvGcrMcVtLqMLcrrQVcVDrqrm,D,30
3,SrBpJFfldlFNslFJBZwsmwgVGGsCCVmZZD,jLtjvzLQMtWjbbQvDZZwGRJGgwggGZgv,MzqqjznQPqnnjznnctnFlSddPfHflhfBJFNdHd,J,36
4,mPNNGVCRngnSbgNw,WqsqlTssgvqvZWZzhsTzWhScdHtfJJnfbtSJwfczdtSS,sqTvhpqQvWZQLmDpDGMDGrgL,g,7

In [24]:
print(sum(g['score']))

2805