In [57]:
import pandas as pd

In [58]:
df = pd.read_csv('2020_day5.csv', header=None, names=['pass'])
df.head()

         pass
0  BFFBFBBRLR
1  FFFFBBBLRR
2  FFFFBBFLRL
3  BFFBBFFLRR
4  BFFBFBBLRR

In [59]:
df['row_pass'] = df['pass'].str.slice(0, 7)
df['column_pass'] = df['pass'].str.slice(7, 10)
df.head()

         pass row_pass column_pass
0  BFFBFBBRLR  BFFBFBB         RLR
1  FFFFBBBLRR  FFFFBBB         LRR
2  FFFFBBFLRL  FFFFBBF         LRL
3  BFFBBFFLRR  BFFBBFF         LRR
4  BFFBFBBLRR  BFFBFBB         LRR

In [60]:
# block = range(12)
# start = int(len(block) / 2)
# end = len(block)
# print(len(block) / 2)
# print([x for x in block])
# block = block[start:end]
# print([x for x in block])

In [61]:
# block = range(12)
# start = 0
# end = int(len(block) / 2)
# print(len(block) / 2)
# print([x for x in block])
# block = block[start:end]
# print([x for x in block])

In [62]:
def get_row(row_pass):
    block = range(128)
    for c in row_pass:
        if c == 'B':
            start = int(len(block) / 2)
            end = len(block)
        if c == 'F':
            start = 0
            end = int(len(block) / 2)
        block = block[start:end]
    return block[0]

In [63]:
def get_column(column_pass):
    block = range(8)
    for c in column_pass:
        if c == 'R':
            start = int(len(block) / 2)
            end = len(block)
        if c == 'L':
            start = 0
            end = int(len(block) / 2)
        block = block[start:end]
    return block[0]

In [64]:
df['row'] = df['row_pass'].apply(get_row)
df['column'] = df['column_pass'].apply(get_column)
df.head()

         pass row_pass column_pass  row  column
0  BFFBFBBRLR  BFFBFBB         RLR   75       5
1  FFFFBBBLRR  FFFFBBB         LRR    7       3
2  FFFFBBFLRL  FFFFBBF         LRL    6       2
3  BFFBBFFLRR  BFFBBFF         LRR   76       3
4  BFFBFBBLRR  BFFBFBB         LRR   75       3

In [65]:
df['seatid'] = df['row'] * 8 + df['column']
df.head()

         pass row_pass column_pass  row  column  seatid
0  BFFBFBBRLR  BFFBFBB         RLR   75       5     605
1  FFFFBBBLRR  FFFFBBB         LRR    7       3      59
2  FFFFBBFLRL  FFFFBBF         LRL    6       2      50
3  BFFBBFFLRR  BFFBBFF         LRR   76       3     611
4  BFFBFBBLRR  BFFBFBB         LRR   75       3     603

In [66]:
print(df['seatid'].max())

885