In [35]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_csv('2021_day3.csv', header=None, names=['val'], dtype='object')
df = df['val'].apply(lambda x: pd.Series(list(x)))
df.head(12)

   0  1  2  3  4  5  6  7  8  9  10 11
0   0  0  0  1  1  0  0  1  0  0  0  1
1   1  0  1  0  0  0  1  1  0  0  0  0
2   0  0  0  1  1  0  0  1  0  1  1  1
3   1  0  0  0  1  1  1  0  0  0  1  0
4   1  1  1  0  0  1  1  0  0  0  0  1
5   0  0  1  0  1  0  0  0  1  0  1  0
6   0  1  0  1  0  0  1  0  0  1  0  1
7   0  1  1  0  0  0  0  1  0  0  0  0
8   1  1  1  1  1  1  0  1  1  0  1  0
9   0  0  1  1  1  1  0  1  1  1  0  1
10  0  1  1  0  1  1  0  1  0  0  1  0
11  0  0  1  1  0  0  0  1  0  1  0  1

In [37]:
d = df.copy()
for i in range(len(df.columns)):
    c = np.bincount(d[i])
    # print(c)
    if c[0] == [c[1]]:
        m = 1
    else:
        m = np.argmax(c)
    d = d.loc[d[i].astype(int) == m]
    # print(d.head(12))
oxygen = d.apply(lambda x: ''.join(x.dropna().values.tolist()), axis=1).iloc[0]
print('oxygen: ', oxygen, int(oxygen, 2))

oxygen:  001000111101 573

In [38]:
d = df.copy()
for i in range(len(df.columns)):
    if len(d) == 1:
        break
    c = np.bincount(d[i])
    # print(c)
    # print(d)
    if c[0] == [c[1]]:
        m = 0
    else:
        m = np.argmin(c)
    d = d.loc[d[i].astype(int) == m]
    # print(d.head(12))
# print(d)
co2 = d.apply(lambda x: ''.join(x.dropna().values.tolist()), axis=1).iloc[0]
print('co2: ', co2, int(co2, 2))

co2:  101101010110 2902

In [39]:
print(int(oxygen, 2) * int(co2, 2))

1662846