In [118]:
import pandas as pd

In [119]:
df = pd.read_csv('2023_day1.csv', header=None)
df.head()

                           0
0     sixrrmlkptmc18zhvninek
1             jcb82eightwond
2   twofourthree778nineeight
3  sqpxs1cgcrmctlgqvzxbcjzgr
4         nqkjxbmbpkz9eight8

In [120]:
words = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
numbers = [str(x) for x in range(1,10)]
mp = {words[x]:str(x+1) for x in range(9)} | {x:x for x in numbers} # map for converting to number
print(mp)

{'one': '1', 'two': '2', 'three': '3', 'four': '4', 'five': '5', 'six': '6', 'seven': '7', 'eight': '8', 'nine': '9', '1': '1', '2': '2', '3': '3', '4': '4', '5': '5', '6': '6', '7': '7', '8': '8', '9': '9'}

In [121]:
def match(v, first):
    w = words + numbers
    wb = [x[::-1] for x in w] # words need to be reversed if string is reversed
    if first:
        res = {y:v.find(y) for y in w}
    else:
        res = {y[::-1]:v[::-1].find(y) for y in wb} # find only returns first instance, have to reverse the string to get last
    res = {z:res[z] for z in res if res[z] != -1} # if not found value is -1, don't want to include in min
    return list(res.keys())[list(res.values()).index(min(list(res.values())))] # find key with min value, which means it was first in the string (or last if reversed)

In [122]:
df['first'] = df[0].apply(lambda x: match(x, True))
df['last'] = df[0].apply(lambda x: match(x, False))
df['cal'] = df['first'].map(mp) + df['last'].map(mp)
df['cal'] = df['cal'].astype(int)
df.head()

                           0 first   last  cal
0     sixrrmlkptmc18zhvninek   six   nine   69
1             jcb82eightwond     8    two   82
2   twofourthree778nineeight   two  eight   28
3  sqpxs1cgcrmctlgqvzxbcjzgr     1      1   11
4         nqkjxbmbpkz9eight8     9      8   98

In this example, the calibration values are 29, 83, 13, 24, 42, 14, and 76. Adding these together produces 281.

In [123]:
print(f"Total: {df['cal'].sum()}")

Total: 55291