In [23]:
import pandas as pd

In [24]:
df = pd.read_csv('2023_day1.csv', header=None)
df.head()

                           0
0     sixrrmlkptmc18zhvninek
1             jcb82eightwond
2   twofourthree778nineeight
3  sqpxs1cgcrmctlgqvzxbcjzgr
4         nqkjxbmbpkz9eight8

In [25]:
df['nums'] = df[0].str.replace('[a-zA-Z]', '', regex=True)
df['cal'] = df['nums'].str.slice(0, 1) + df['nums'].str.slice(-1)
df['cal'] = df['cal'].astype(int)
df.head()

                           0 nums  cal
0     sixrrmlkptmc18zhvninek   18   18
1             jcb82eightwond   82   82
2   twofourthree778nineeight  778   78
3  sqpxs1cgcrmctlgqvzxbcjzgr    1   11
4         nqkjxbmbpkz9eight8   98   98

In this example, the calibration values of these four lines are 12, 38, 15, and 77. Adding these together produces 142.

In [26]:
print(f"Total: {df['cal'].sum()}")

Total: 55607