In [1]:
import pandas as pd
import numpy as np

In [81]:
df = pd.read_csv('2021_day2.csv', header=None, names=['action', 'val'], delimiter='\s+')
df.head()

    action  val
0  forward    1
1     down    6
2  forward    8
3       up    3
4     down    1

In [82]:
df['total'] = df['action'].map({'forward':'horizontal', 'down':'aim', 'up':'aim'})
df['val'] = np.where(df['action'] == 'up', -df['val'], df['val'])
df['aim'] = 0
df.loc[df['total'] == 'aim', 'aim'] = df.loc[df['total'] == 'aim', 'val'].cumsum()
# df['aim'].iloc[0] = 0
df.head()

    action  val       total  aim
0  forward    1  horizontal    0
1     down    6         aim    6
2  forward    8  horizontal    0
3       up   -3         aim    3
4     down    1         aim    4

In [83]:
prev = np.arange(len(df['aim']))
prev[df['aim'] == 0] = 0
prev = np.maximum.accumulate(prev)
df['aim'] = df['aim'].to_numpy()[prev]
df.head()

    action  val       total  aim
0  forward    1  horizontal    0
1     down    6         aim    6
2  forward    8  horizontal    6
3       up   -3         aim    3
4     down    1         aim    4

In [84]:
df['horizontal'] = np.where(df['total'] == 'horizontal', df['val'], 0)
df['depth'] = np.where(df['total'] == 'horizontal', df['val']*df['aim'], 0)
df.head()

    action  val       total  aim  horizontal  depth
0  forward    1  horizontal    0           1      0
1     down    6         aim    6           0      0
2  forward    8  horizontal    6           8     48
3       up   -3         aim    3           0      0
4     down    1         aim    4           0      0

In [85]:
g = df[['horizontal', 'depth']].sum()
g.head()

horizontal      1850
depth         692961
dtype: int64

In [86]:
g.prod()

1281977850