In [19]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv('2021_day2.csv', header=None, names=['action', 'val'], delimiter='\s+')
df.head()

    action  val
0  forward    1
1     down    6
2  forward    8
3       up    3
4     down    1

In [21]:
df['total'] = df['action'].map({'forward':'horizontal', 'down':'depth', 'up':'depth'})
df['val'] = np.where(df['action'] == 'up', -df['val'], df['val'])
df.head()

    action  val       total
0  forward    1  horizontal
1     down    6       depth
2  forward    8  horizontal
3       up   -3       depth
4     down    1       depth

In [22]:
g = df.groupby('total').sum()
g['val'].prod()

1714950